server {
    listen              443 ssl http2;
    server_name         {{ server_name }};

    ssl_certificate     {{ tls_dir }}/fullchain.pem;
    ssl_certificate_key {{ tls_dir }}/privkey.pem;

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers off;

    location /healthz {
        return 200 'ok';
        add_header Content-Type text/plain;
    }

    location / {
        return 200 'media api placeholder';
        add_header Content-Type text/plain;
    }

    access_log /var/log/nginx/api-access.log;
    error_log  /var/log/nginx/api-error.log;
}

server {
    listen 80;
    server_name {{ server_name }};
    return 301 https://$host$request_uri;
}
